<ion-content [fullscreen]="true">
  <div class="login-content">
    <div class="login-container">
      <div class="profile-icon">
        <ion-icon name="book-outline" size="large"></ion-icon>
      </div>
      <h1 class="user-name">TCC App</h1>

      <ion-card class="login-card">
        <ion-card-content>
          <form (ngSubmit)="login()" [formGroup]="form">
            <ion-input 
              label="Email" 
              label-placement="floating" 
              fill="outline" 
              placeholder="Insira o seu email" 
              type="email"
              id="email"
              class="email"
              formControlName="email">
            </ion-input>
            <ion-text 
              color="danger" 
              *ngIf="(form.get('email')?.errors?.['required'] || 
              form.get('email')?.errors?.['email'] ) && 
              form.get('email')?.touched">
              Informe o seu e-mail.
            </ion-text>
        
            <ion-input 
              label="Senha" 
              label-placement="floating"
              fill="outline" 
              placeholder="Insira sua senha" 
              type="password"
              id="password"
              class="password"
              formControlName="password"
              class="ion-margin-top">
            </ion-input>
            <ion-text 
              color="danger" 
              *ngIf="(form.get('password')?.errors?.['required'] || 
              form.get('password')?.errors?.['minlength'] || 
              form.get('password')?.errors?.['maxlength']) && 
              form.get('password')?.touched">Informe a sua senha.
            </ion-text>
              
            <ion-button 
              type="submit" 
              expand="block"
              [disabled]="!form.valid"
              class="ion-margin-top ion-margin-bottom">
              Entrar
            </ion-button>

            <p class="forgot-password">
              <ion-text color="primary">
                <a href="#">Esqueceu a senha?</a>
              </ion-text>
            </p>
        
            <p>
              Não possui uma conta?
              <ion-text color="primary">
                <a [routerLink]="['/register']">Crie uma.</a>
              </ion-text>
            </p>
    
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>