<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Modelos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modelos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let model of models; let i = index">
          <ion-thumbnail slot="">
            <ng-container [ngSwitch]="model.formato">
              <ion-icon *ngSwitchCase="'Texto'" name="document" size="large"></ion-icon>
              <ion-icon *ngSwitchCase="'Apresentação'" name="albums-outline" size="large"></ion-icon>
              <ion-icon *ngSwitchCase="'Vídeo'" name="videocam-outline" size="large"></ion-icon>
            </ng-container>
          </ion-thumbnail>
          <ion-label>
            <h3>{{ model.titulo }}</h3>
            <p>{{ model.descricao }}</p>
            <p>{{ model.dataPublicacao }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="templates-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <!-- (willDismiss)="onWillDismiss($event)" -->
  <ion-modal trigger="templates-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Novo Modelo</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <form [formGroup]="form" (ngSubmit)="confirm()">
            <ion-input
              label="Nome do modelo"
              labelPlacement="stacked"
              fill="outline"
              type="text"
              placeholder="Nome"
              formControlName="titulo"
            ></ion-input>
            <ion-text 
              color="danger" 
              *ngIf="(form.get('titulo')?.errors?.['required'] || 
              form.get('titulo')?.errors?.['minlength']) &&
              form.get('titulo')?.touched">
              Informe um nome com no mínimo 2 caracteres.
            </ion-text>

            <ion-input
              label="Descrição"
              labelPlacement="stacked"
              fill="outline"
              type="text"
              placeholder="Descrição"
              formControlName="descricao"
              class="ion-margin-top"
            ></ion-input>
            <ion-text 
              color="danger" 
              *ngIf="(form.get('descricao')?.errors?.['required'] || 
              form.get('descricao')?.errors?.['minlength']) &&
              form.get('descricao')?.touched">
              Informe uma descrição com no mínimo 3 caracteres.
            </ion-text>

            <ion-select 
              label="Formato" 
              placeholder="Selecione o formato" 
              label-placement="stacked"
              fill="outline"
              formControlName="formato"
              class="ion-margin-top">
              <ion-select-option value="docx">Texto</ion-select-option>
              <ion-select-option value="pptx">Apresentação</ion-select-option>
              <ion-select-option value="mov">Vídeo</ion-select-option>
            </ion-select>
            <ion-text 
              color="danger" 
              *ngIf="(form.get('formato')?.errors?.['required']) &&
              form.get('formato')?.touched">
              Selecione um formato.
            </ion-text>

            <ion-label>Anexar Arquivo</ion-label>
            <input type="file" (change)="onFileSelected($event)">
          </form>

          <ion-button 
            type="submit" 
            expand="block"
            [disabled]="!form.valid"
            class="ion-margin-top">
            Adicionar
          </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>

<!-- [disabled]="!form.valid" -->