<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmarks" href="/tabs/bookmarks">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Pesquisar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="templates" href="/tabs/templates">
      <ion-icon aria-hidden="true" name="document"></ion-icon>
      <ion-label>Modelos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>