<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Criar conta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="register()">
          <label for="">Dados pessoais</label>
          <ion-input
            label="Nome"
            labelPlacement="stacked"
            fill="outline"
            type="text"
            formControlName="nome"
          ></ion-input>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('nome')?.errors?.['required'] || 
            form.get('nome')?.errors?.['minlength']) &&
            form.get('nome')?.touched">
            Informe um nome com no mínimo 2 caracteres.
          </ion-text>
          
          <ion-input
            label="Sobrenome"
            labelPlacement="stacked"
            fill="outline"
            type="text"
            formControlName="sobrenome"
            class="ion-margin-top"
          ></ion-input>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('sobrenome')?.errors?.['required'] || 
            form.get('sobrenome')?.errors?.['minlength']) &&
            form.get('sobrenome')?.touched">
            Informe um sobrenome com no mínimo 3 caracteres.
          </ion-text>

          <ion-input
            label="Data de Nascimento"
            labelPlacement="stacked"
            fill="outline"
            type="date"
            formControlName="dataNascimento"
            class="ion-margin-top"
          ></ion-input>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('dataNascimento')?.errors?.['required']) &&
            form.get('dataNascimento')?.touched">
            Informe a data de nascimento.
          </ion-text>

          <ion-select 
            label="Gênero" 
            label-placement="floating" 
            fill="outline"
            formControlName="genero"
            class="ion-margin-top">
              <ion-select-option value="Masculino">Masculino</ion-select-option>
              <ion-select-option value="Feminino">Feminino</ion-select-option>
              <ion-select-option value="Prefiro não dizer">Prefiro não dizer</ion-select-option>
          </ion-select>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('genero')?.errors?.['required']) &&
            form.get('genero')?.touched">
            Selecione um genero.
          </ion-text>

          <div class="ion-margin-top"><label for="">Dados acadêmicos</label></div>
          <ion-select
            label="Tema"
            label-placement="floating"
            fill="outline"
            formControlName="tema">
            <ion-select-option value="Desenvolvimento Mobile">Desenvolvimento Mobile</ion-select-option>
            <ion-select-option value="CyberSegurança">CyberSegurança</ion-select-option>
            <ion-select-option value="Banco de Dados">Banco de Dados</ion-select-option>
          </ion-select>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('tema')?.errors?.['required']) &&
            form.get('tema')?.touched">
            Selecione um tema.
          </ion-text>

          <ion-select 
            label="Curso" 
            label-placement="floating" 
            fill="outline"
            formControlName="curso"
            class="ion-margin-top">
            <ion-select-option value="Ciências da Computação">Ciências da Computação</ion-select-option>
            <ion-select-option value="Sistemas de Informação">Sistemas de Informação</ion-select-option>
            <ion-select-option value="Engenharia da Computação">Engenharia da Computação</ion-select-option>
          </ion-select>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('curso')?.errors?.['required']) &&
            form.get('curso')?.touched">
            Selecione um curso.
          </ion-text>

          <ion-select 
            label="Universidade" 
            label-placement="floating" 
            fill="outline"
            formControlName="universidade"
            class="ion-margin-top">
            <ion-select-option value="FUMEC">FUMEC</ion-select-option>
            <ion-select-option value="UFMG">UFMG</ion-select-option>
            <ion-select-option value="PUC">PUC</ion-select-option>
          </ion-select>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('universidade')?.errors?.['required']) &&
            form.get('universidade')?.touched">
            Selecione uma universidade.
          </ion-text>

          <div class="ion-margin-top"><label for="">Dados de autenticação</label></div>
          <ion-input 
            label="Email" 
            label-placement="floating" 
            fill="outline" 
            placeholder="Insira o seu email" 
            type="email"
            formControlName="email">
          </ion-input>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('email')?.errors?.['required'] || 
            form.get('email')?.errors?.['email'] ) && 
            form.get('email')?.touched">
            Informe um e-mail válido.
          </ion-text>

          <ion-input 
            label="Senha" 
            label-placement="floating" 
            fill="outline" 
            placeholder="Insira sua senha" 
            type="password"
            formControlName="password"
            class="ion-margin-top">
          </ion-input>
          <ion-text 
            color="danger" 
            *ngIf="(form.get('password')?.errors?.['required'] || 
            form.get('password')?.errors?.['minlength'] || 
            form.get('password')?.errors?.['maxlength']) && 
            form.get('password')?.touched">Informe uma senha que tenha entre 6 e 12 dígitos.
          </ion-text>

          <ion-button 
            type="submit"
            expand="block"
            [disabled]="!form.valid"
            class="ion-margin-top">
            Criar conta
          </ion-button>

          <ion-button 
            [routerLink]="['/login']"
            expand="block"
            class="ion-margin-top">
            Voltar
          </ion-button>
          
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>